/* General Configurations */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --Lineargradient-activeinputborder:hsl(249, 99%, 64%);
    --purple: hsl(278, 94%, 30%);
    --Red-inputerrors: hsl(0, 100%, 66%);
    
    --White: hsl(0, 0%, 100%);
    --Lightgrayish: hsl(270, 3%, 87%);
    --Darkgrayish: hsl(279, 6%, 55%);
    --Verydark: hsl(278, 68%, 11%);

    --header-font: "Orbitron";
    --secondary-font: "Roboto", sans-serif;
}

html, body{
    min-height: 100vh;
    font: normal normal 18px var(--secondary-font);
}

/* Cards Configuration Start */
#backimg-container{
    position: relative;
    background: black url('images/bg-main-mobile.png') no-repeat;
    min-height: 40vh;
    background-size: cover;
}

#aligment-cards{
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 3rem;
}

.container-sm img{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39);
    border-radius: 10px;
}

#front-card{
    position: absolute;
    top: 56.59%;
    z-index: 9;
    transform: translateX(-50px);
}

#back-card{
    transform: translateX(50px);
}
/* Cards Configuration End */

#frontcard-content{
    top: 0;
    max-width: 447px;
    min-width: 100px;
    max-height: 245px;
    min-height: 80px;
}

#placeholder-card{
    word-spacing: 10px;
    letter-spacing: 2px;
}

.circles{
    margin-bottom: 2rem;
}

.infos-card{
    font-size: .8em;
}

@media (min-width: 768px){  
    #backimg-container{
        background: black url('images/bg-main-desktop.png') no-repeat;
        background-size: cover;
        min-height: 100vh ;
    }

    #aligment-cards{
        position: absolute;
        gap: 20px;
        top: 50%;
        transform: translate(50%,-115%);
    }

    #front-card{
        top: -20%;
        order: 1;
        transform: translateX(-100px);
        margin-bottom: 20px;
    }
    
    #back-card{
        transform: translate(0px, 90%);
    }
    
}


@media (max-width: 548px){
    .container-sm img{
        max-width: 250px;
        min-width: 100px;
    }
}